@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #232323;

  --bg-theme: #232323;

  --avt-primary: #ececec;
  --avt-text-color: #eaeaea;
  --avt-text-secondary: #707070;
  --avt--section-color: #979797;
  --avt-dark-secondary: #848484;
  --avt-heading-secondary: #a0a0a0;

  --text-font-size: 15px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #232323;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "inter", Helvetica, sans-serif;
}

/* cusotom css for the app */
.button-box-shadow {
  box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
}

/* Tailwind shorthand */
.center-item {
  @apply flex justify-center items-center;
}

/* Tooltip styles */

.c-tooltip {
  @apply s-tooltip i-hover-parent a-fade;
}

.s-tooltip {
  @apply p-2 rounded-md mx-auto inset-x-0 inline w-max bg-[#2E2E2E] leading-tight capitalize text-[14px];
}

.s-tooltip::before {
  @apply absolute block w-0 h-0;
  @apply inset-x-0 mx-auto;
  content: "";
  border: 0.5em solid transparent;
}

.s-place-bottom {
  @apply absolute top-full bottom-auto my-0;
}

.s-place-right {
  @apply absolute left-full top-1/2 -translate-y-1/2 ml-2;
}

.s-place-right::before {
  @apply absolute block w-0 h-0;
  left: auto;
  top: 50%;
  transform: translateY(-50%);
  border-width: 0.5em;
  border-color: transparent;
}

.a-fade {
  opacity: 0;
  pointer-events: none;
  @apply transition duration-1000;
}

.s-place-bottom::before {
  top: auto;
  bottom: 100%;
  border-color: transparent;
}

*:hover > .i-hover-parent {
  opacity: 1;
  pointer-events: auto;
}
